In [1]:
from pyspark.sql import SparkSession
from loghandler import logger
try:
    appName = "PySpark MySQL Example - via mysql.connector"
    master = "local"
    spark = SparkSession.builder.master(master).appName(appName).enableHiveSupport().getOrCreate()
except Exception as e:
    logger.error(e)

In [3]:
df = spark.read.csv("hdfs://localhost:9000/csv_files/*.csv",header=True)
df2 = df.select("user_name","DateTime","keyboard","mouse")
df2.createOrReplaceTempView('myview')

In [9]:
df2.show()

+--------------------+-------------------+--------+------+
|           user_name|           DateTime|keyboard| mouse|
+--------------------+-------------------+--------+------+
|  iamnzm@outlook.com|2019-09-19 08:40:02|     1.0|  32.0|
|  iamnzm@outlook.com|2019-09-19 08:45:02|     0.0|   0.0|
|  iamnzm@outlook.com|2019-09-19 08:50:01|     0.0|   0.0|
|  iamnzm@outlook.com|2019-09-19 08:55:01|    11.0| 900.0|
|  iamnzm@outlook.com|2019-09-19 09:00:01|     2.0|  25.0|
|  iamnzm@outlook.com|2019-09-19 09:05:01|    37.0| 336.0|
|deepshukla292@gma...|2019-09-19 09:05:01|     0.0|  55.0|
|  iamnzm@outlook.com|2019-09-19 09:10:01|     0.0| 136.0|
|deepshukla292@gma...|2019-09-19 09:10:01|     6.0|1112.0|
|  iamnzm@outlook.com|2019-09-19 09:15:02|     0.0|  84.0|
|deepshukla292@gma...|2019-09-19 09:15:02|     0.0| 357.0|
|markfernandes66@g...|2019-09-19 09:15:01|    20.0| 670.0|
|markfernandes66@g...|2019-09-19 09:10:01|    17.0|   0.0|
|markfernandes66@g...|2019-09-19 09:20:01|    29.0|1895.0|
|  iamnzm@outlook.com|2019-09-19 09:20:02|     0.0|  29.0|
|deepshukla292@gma...|2019-09-19 09:20:02|    35.0|3022.0|
|markfernandes66@g...|2019-09-19 09:25:01|     2.0| 238.0|
|  iamnzm@outlook.com|2019-09-19 09:25:01|     0.0|   0.0|
|deepshukla292@gma...|2019-09-19 09:25:01|    20.0|1330.0|
|markfernandes66@g...|2019-09-19 09:30:01|     5.0|  39.0|
+--------------------+-------------------+--------+------+
only showing top 20 rows

In [8]:
try:
    # Save df to a new table in Hive
    df2.write.mode("overwrite").saveAsTable("arun.cpulogs")
    #Show the results using SELECT
    dfs = spark.sql("use arun")
    dfs1 = spark.sql("show tables")
    dfs1.show()
    spark.sql("create table arun.test2 as select * from myview")
    dfs2 = spark.sql("select *from cpulogs")
    dfs2.show()


except Exception as e:
    logger.error(e)

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|    arun|  cpulogs|      false|
|    arun|    test2|      false|
|        |   myview|       true|
+--------+---------+-----------+

+--------------------+-------------------+--------+------+
|           user_name|           DateTime|keyboard| mouse|
+--------------------+-------------------+--------+------+
|  iamnzm@outlook.com|2019-09-19 08:40:02|     1.0|  32.0|
|  iamnzm@outlook.com|2019-09-19 08:45:02|     0.0|   0.0|
|  iamnzm@outlook.com|2019-09-19 08:50:01|     0.0|   0.0|
|  iamnzm@outlook.com|2019-09-19 08:55:01|    11.0| 900.0|
|  iamnzm@outlook.com|2019-09-19 09:00:01|     2.0|  25.0|
|  iamnzm@outlook.com|2019-09-19 09:05:01|    37.0| 336.0|
|deepshukla292@gma...|2019-09-19 09:05:01|     0.0|  55.0|
|  iamnzm@outlook.com|2019-09-19 09:10:01|     0.0| 136.0|
|deepshukla292@gma...|2019-09-19 09:10:01|     6.0|1112.0|
|  iamnzm@outlook.com|2019-09-19 09:15:02|     0.0|  84.0|
|deepshukla292@gma...|2019-09-19 09:15:02|     0.0| 357.0|
|markfernandes66@g...|2019-09-19 09:15:01|    20.0| 670.0|
|markfernandes66@g...|2019-09-19 09:10:01|    17.0|   0.0|
|markfernandes66@g...|2019-09-19 09:20:01|    29.0|1895.0|
|  iamnzm@outlook.com|2019-09-19 09:20:02|     0.0|  29.0|
|deepshukla292@gma...|2019-09-19 09:20:02|    35.0|3022.0|
|markfernandes66@g...|2019-09-19 09:25:01|     2.0| 238.0|
|  iamnzm@outlook.com|2019-09-19 09:25:01|     0.0|   0.0|
|deepshukla292@gma...|2019-09-19 09:25:01|    20.0|1330.0|
|markfernandes66@g...|2019-09-19 09:30:01|     5.0|  39.0|
+--------------------+-------------------+--------+------+
only showing top 20 rows